### Segunda parte do Projeto final - mod1 - Dados sobre filmes_MovieLens
##### Dupla: Mariana e Magno
###### Maio22
----------------

In [1]:
import pandas as pd
import numpy as np

In [8]:
#Importando a base MOVIES e dando uma olhada no formato dos dados
movies = pd.read_csv('C:/Users/Mari/Documents/LetsCode/Modulo1/ProjetoFinal/Movie_Lens/dados/movies.csv')
movies.head(50)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
30,31,Dangerous Minds (1995),Drama
31,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
32,34,Babe (1995),Children|Drama
33,36,Dead Man Walking (1995),Crime|Drama
34,38,It Takes Two (1995),Children|Comedy
35,39,Clueless (1995),Comedy|Romance
36,40,"Cry, the Beloved Country (1995)",Drama
37,41,Richard III (1995),Drama|War
38,42,Dead Presidents (1995),Action|Crime|Drama
39,43,Restoration (1995),Drama
40,44,Mortal Kombat (1995),Action|Adventure|Fantasy
41,45,To Die For (1995),Comedy|Drama|Thriller
42,46,How to Make an American Quilt (1995),Drama|Romance
43,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
44,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
45,49,When Night Is Falling (1995),Drama|Romance
46,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
47,52,Mighty Aphrodite (1995),Comedy|Drama|Romance
48,53,Lamerica (1994),Adventure|Drama
49,54,"Big Green, The (1995)",Children|Comedy

In [3]:
#Importando a base RATING e dando uma olhada nos dados
rating =  pd.read_csv('C:/Users/Mari/Documents/LetsCode/Modulo1/ProjetoFinal/Movie_Lens/dados/ratings.csv')
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
#Analisando os tipos de info em cada coluna
movies.info()
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [13]:
###Chave para cruzamento das tabelas é movieId
#Verifica se há duplicidade aqui no nome dos filmes
duplic = movies.movieId.duplicated()
duplic.sum()

0

In [9]:
##Trabalhando os dados
#Primeiro separar os gêneros dos filmes
movies['genres_list'] = movies['genres'].str.split('|')
movies.head(5)

,movieId,title,genres,genres_list
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),Adventure|Children|Fantasy,"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),Comedy|Romance,"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),Comedy,[Comedy]

In [10]:
#drop na coluna antiga
movies.drop(columns=['genres'], inplace=True)

In [11]:
#Verifica se deu certo
movies.head()

,movieId,title,genres_list
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]

In [12]:
#Transforma a informação da coluna GENRES_LIST em linhas
movies2=movies.explode('genres_list')
movies2.head(10)

   movieId                    title genres_list
0        1         Toy Story (1995)   Adventure
0        1         Toy Story (1995)   Animation
0        1         Toy Story (1995)    Children
0        1         Toy Story (1995)      Comedy
0        1         Toy Story (1995)     Fantasy
1        2           Jumanji (1995)   Adventure
1        2           Jumanji (1995)    Children
1        2           Jumanji (1995)     Fantasy
2        3  Grumpier Old Men (1995)      Comedy
2        3  Grumpier Old Men (1995)     Romance

In [14]:
#PERGUNTA: Quantos gêneros o filme "The Matrix" tem? Quais são os gêneros?

###Buscando somente as linhas que contém a palavra Matrix
matrix=movies.query("title.str.contains('Matrix')")
print(matrix)

##pelo meu entendimento, a pergunta refere-se somente ao primeiro filme da Trilogia (1999), isto é, movieId = 2571

      movieId                           title  \
1939     2571              Matrix, The (1999)
4351     6365     Matrix Reloaded, The (2003)
4639     6934  Matrix Revolutions, The (2003)

                                      genres_list
1939                   [Action, Sci-Fi, Thriller]
4351  [Action, Adventure, Sci-Fi, Thriller, IMAX]
4639  [Action, Adventure, Sci-Fi, Thriller, IMAX]

In [16]:
#Quantos gêneros o filme "The Matrix" tem? Quais são os gêneros?
thematrix=movies2[(movies2['movieId']==2571)].value_counts()
print(thematrix)

movieId  title               genres_list
2571     Matrix, The (1999)  Action         1
                             Sci-Fi         1
                             Thriller       1
dtype: int64

In [17]:
#PERGUNTA: Quantos gêneros cada filme tem, em média?

#Criando uma coluna cheia de 1 pra facilitar a contagem depois
movies2.loc[:,'linha_aux'] = np.ones(movies2.shape[0])
movies2.head()

   movieId             title genres_list  linha_aux
0        1  Toy Story (1995)   Adventure        1.0
0        1  Toy Story (1995)   Animation        1.0
0        1  Toy Story (1995)    Children        1.0
0        1  Toy Story (1995)      Comedy        1.0
0        1  Toy Story (1995)     Fantasy        1.0

In [18]:
total_genres_per_movie = (movies2.groupby('title')['linha_aux'].sum())
media_geral = total_genres_per_movie.sum()/len(total_genres_per_movie)

print(media_geral)

2.2680497073020436

In [19]:
#PERGUNTA: Quais são os cinco filmes com maior número de gêneros?
ordenados = total_genres_per_movie.sort_values(ascending=False)
ordenados.head(5)

title
Rubber (2010)                                                     10.0
Confessions of a Dangerous Mind (2002)                             9.0
Patlabor: The Movie (Kidô keisatsu patorebâ: The Movie) (1989)     8.0
Mulan (1998)                                                       7.0
Robots (2005)                                                      7.0
Name: linha_aux, dtype: float64

In [20]:
# join nas duas bases, trazendo a informação dos rating pra dentro da base dos filmes
#Chave é o movieId
full = movies2.merge(rating, on =['movieId'], how = 'left').copy()
full.head()

,movieId,title,genres_list,linha_aux,userId,rating,timestamp
0,1,Toy Story (1995),Adventure,1.0,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure,1.0,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure,1.0,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure,1.0,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure,1.0,17.0,4.5,1.305696e+09

In [65]:
##PERGUNTA: Quantos usuários deram nota para o filme "The Matrix"?
###Criando uma máscara
base_matrix = full['movieId']==2571
filtrada=full[base_matrix]
filtrada

filtrada.userId.nunique()

278

In [33]:
####PERGUNTA: Quantos usuários, em média, deram nota para cada filme?
###Para cada filme, somar quantos usuarios distintos. Depois fazer essa soma geral / qtde filmes

#Para facilitar, vou criar um novo dataframe contendo somente MovieID, UserId
base_movie_user_sd = full.drop_duplicates(['movieId', 'userId', 'linha_aux'])[['movieId', 'userId', 'linha_aux']]
base_movie_user_sd.head(10)

   movieId  userId  linha_aux
0        1     1.0        1.0
1        1     5.0        1.0
2        1     7.0        1.0
3        1    15.0        1.0
4        1    17.0        1.0
5        1    18.0        1.0
6        1    19.0        1.0
7        1    21.0        1.0
8        1    27.0        1.0
9        1    31.0        1.0

In [46]:
#Transformar essa contagem em um df, pra depois usar a função MEAN nesse df
users_per_movie = base_movie_user_sd.groupby('movieId')['userId'].count()
users = pd.DataFrame(users_per_movie)
users.mean()

userId    10.350647
dtype: float64

In [52]:
###PERGUNTA Quais são os cinco filmes para os quais mais usuários deram nota?
ordenados2 = users_per_movie.sort_values(ascending=False)
aux_ord = pd.DataFrame(ordenados2)
type(aux_ord)

pandas.core.frame.DataFrame

In [53]:
##Traz titulo do filme para os 5 mais avaliados
# join nas duas bases, trazendo a informação dos rating pra dentro da base dos filmes
#Chave é o movieId
top5_movies = aux_ord.merge(movies, on =['movieId'], how = 'left').copy()
top5_movies.head()

,movieId,userId,title,genres_list
0,356,329,Forrest Gump (1994),"[Comedy, Drama, Romance, War]"
1,318,317,"Shawshank Redemption, The (1994)","[Crime, Drama]"
2,296,307,Pulp Fiction (1994),"[Comedy, Crime, Drama, Thriller]"
3,593,279,"Silence of the Lambs, The (1991)","[Crime, Horror, Thriller]"
4,2571,278,"Matrix, The (1999)","[Action, Sci-Fi, Thriller]"

In [69]:
###PERGUNTA  Qual o rating médio do filme "The Matrix"?
filtrada

,movieId,title,genres_list,linha_aux,userId,rating,timestamp
121060,2571,"Matrix, The (1999)",Action,1.0,1.0,5.0,9.649819e+08
121061,2571,"Matrix, The (1999)",Action,1.0,4.0,1.0,9.451734e+08
121062,2571,"Matrix, The (1999)",Action,1.0,10.0,0.5,1.455356e+09
121063,2571,"Matrix, The (1999)",Action,1.0,13.0,5.0,9.874570e+08
121064,2571,"Matrix, The (1999)",Action,1.0,15.0,4.0,1.510572e+09
...,...,...,...,...,...,...,...
121889,2571,"Matrix, The (1999)",Thriller,1.0,603.0,5.0,9.631776e+08
121890,2571,"Matrix, The (1999)",Thriller,1.0,606.0,5.0,1.171326e+09
121891,2571,"Matrix, The (1999)",Thriller,1.0,607.0,5.0,9.630800e+08
121892,2571,"Matrix, The (1999)",Thriller,1.0,608.0,5.0,1.117162e+09
121893,2571,"Matrix, The (1999)",Thriller,1.0,610.0,5.0,1.479546e+09

In [70]:
####Faz um dataframe da filtrada, tirando a coluna de generos
base_matrix_user_sd = filtrada.drop_duplicates(['movieId', 'userId', 'rating'])[['movieId', 'userId', 'rating']]
base_matrix_user_sd.head(10)

        movieId  userId  rating
121060     2571     1.0     5.0
121061     2571     4.0     1.0
121062     2571    10.0     0.5
121063     2571    13.0     5.0
121064     2571    15.0     4.0
121065     2571    16.0     3.5
121066     2571    17.0     5.0
121067     2571    18.0     4.5
121068     2571    19.0     4.0
121069     2571    21.0     4.0

In [77]:
##Rating médio do filme The Matrix 1999 (MoveId = 2571)
base_matrix_user_sd.groupby('movieId')['rating'].mean()

movieId
2571    4.192446
Name: rating, dtype: float64

In [80]:
###PERGUNTA: Cada filme tem um rating médio. Qual a média desses ratings, por gênero?
full.head()

######falta fazer essa

,movieId,title,genres_list,linha_aux,userId,rating,timestamp
0,1,Toy Story (1995),Adventure,1.0,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure,1.0,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure,1.0,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure,1.0,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure,1.0,17.0,4.5,1.305696e+09

In [ ]:
###PERGUNTA: Para cada gênero de filme, quantos usuários deram cada nota possível?

######falta fazer essa