<h1><span style="color:blue;font-weight:700;font-size:24px">
Olist Market Funnel Analysis
</span></h1>

___

<span style="color:gray;font-weight:300;font-size:16px">
<br>
Este projeto tem por objetivo realizar uma análise exploratória dos dados disponibilizados pela plataforma Olist que conecta negócios pequenos e de médio porte com os diversos marketplaces no Brasil.
</span>

<h2><span style="color:blue;font-weight:700;font-size:24px">
Questões a serem respondidas
</span></h2>

Qual foi a taxa de conversão total?
Qual foi a taxa de conversão de cada origem?
Qual foi a taxa de conversão de cada página inicial?
Para cada SR, qual a receita média declarada dos leads?

Para cada SR, quantos de cada business_type a pessoa converteu?
Para cada SR, quantos de cada lead_behaviour_profile a pessoa converteu?
Para cada SR, quantos de cada lead_type a pessoa converteu?

<span style="color:green; font-weight:300;font-size:24px">
<b>
Importando as bibliotecas
</b></span>

In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from pathlib import Path
print("**** Importação de bibliotecas com sucesso! ****")

**** Importação de bibliotecas com sucesso! ****

<span style="color:green; font-weight:300;font-size:24px"><b>Funções básicas </b></span>

In [90]:
def caminho_dos_dados(projeto):
    '''
    Função que retorna o caminho dos dados atual acrescido do nome do projeto
    '''
    return str(Path(os.getcwd()).parent) + '/data'+ projeto

def criar_dataframe(projeto, arquivo):
    '''
    Função para criar um dataframe a partir de um arquivo csv e projeto específico
    '''
    df = pd.read_csv(caminho_dos_dados(projeto) + '/' + arquivo)
    return df

print("**** Funções criadas com sucesso! ****")

**** Funções criadas com sucesso! ****

<span style="color:green; font-weight:300;font-size:24px"><b>Importando os dados</b></span><br>
<span style="color:blue;font-weight:300;font-size:20px"><b>Importando propostas convertidas em venda</b></span><br>

In [91]:
projeto = '/olist_mkt_funnel'
arquivo = 'olist_closed_deals_dataset.csv'
df_vendas_convertidas = criar_dataframe(projeto , arquivo)
df_vendas_convertidas.head(4)

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,NaN,NaN,NaN,reseller,NaN,0.0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,NaN,NaN,NaN,reseller,NaN,0.0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17 13:51:03,food_drink,online_small,NaN,NaN,NaN,NaN,reseller,NaN,0.0

In [98]:
info_vendas_convertidas = df_vendas_convertidas.info()
list(df_vendas_convertidas)
df_vendas_convertidas.nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842 entries, 0 to 841
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         842 non-null    object
 1   seller_id                      842 non-null    object
 2   sdr_id                         842 non-null    object
 3   sr_id                          842 non-null    object
 4   won_date                       842 non-null    object
 5   business_segment               841 non-null    object
 6   lead_type                      836 non-null    object
 7   lead_behaviour_profile         665 non-null    object
 8   has_company                    63 non-null     object
 9   has_gtin                       64 non-null     object
 10  average_stock                  66 non-null     object
 11  business_type                  832 non-null    object
 12  declared_product_catalog_size  69 non-null     float64
 13  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(12)
memory usage: 92.2+ KB

mql_id                           842
seller_id                        842
sdr_id                            32
sr_id                             22
won_date                         824
business_segment                  33
lead_type                          8
lead_behaviour_profile             9
has_company                        2
has_gtin                           2
average_stock                      6
business_type                      3
declared_product_catalog_size     33
declared_monthly_revenue          27
dtype: int64

<span style="color:blue;font-weight:300;font-size:20px"><b>Importando as oportunidades de negócio.</span></b><br>

In [61]:
arquivo = 'olist_marketing_qualified_leads_dataset.csv'
df_todas_propostas = criar_dataframe(projeto , arquivo)
df_todas_propostas.head(4)

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email

In [100]:
info_todas_propostas = df_todas_propostas.info()
list(df_todas_propostas)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   mql_id              8000 non-null   object
 1   first_contact_date  8000 non-null   object
 2   landing_page_id     8000 non-null   object
 3   origin              7940 non-null   object
dtypes: object(4)
memory usage: 250.1+ KB

['mql_id', 'first_contact_date', 'landing_page_id', 'origin']

<span style="color:blue;font-weight:300;font-size:20px"><b>Criando uma base única</b></span>

In [109]:
df_base_completa = df_todas_propostas.merge(df_vendas_convertidas, on = ['mql_id'], how = 'left').copy()
df_base_completa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8000 entries, 0 to 7999
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   mql_id                         8000 non-null   object
 1   first_contact_date             8000 non-null   object
 2   landing_page_id                8000 non-null   object
 3   origin                         7940 non-null   object
 4   seller_id                      842 non-null    object
 5   sdr_id                         842 non-null    object
 6   sr_id                          842 non-null    object
 7   won_date                       842 non-null    object
 8   business_segment               841 non-null    object
 9   lead_type                      836 non-null    object
 10  lead_behaviour_profile         665 non-null    object
 11  has_company                    63 non-null     object
 12  has_gtin                       64 non-null     object
 13  average_stock                  66 non-null     object
 14  business_type                  832 non-null    object
 15  declared_product_catalog_size  69 non-null     float64
 16  declared_monthly_revenue       842 non-null    float64
dtypes: float64(2), object(15)
memory usage: 1.1+ MB

In [113]:
# Vamos verificar se existem registros duplicados no dataframe completo.

registros_duplicados = df_base_completa.duplicated()
registros_duplicados.sum()

0

In [115]:
# Criando uma coluna adicional para identificar as vendas fechadas.
df_base_completa['closed_deal'] = np.where(df_base_completa['won_date'].isnull(), 0, 1)
df_base_completa.head(5)

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue,closed_deal
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0,1

<span style="color:blue;font-weight:300;font-size:20px"><b>Taxa de conversão total</b></span>

In [125]:
taxa_conversao_total = df_base_completa.closed_deal.sum()/df_base_completa.shape[0]*100
print(f'**** Taxa de conversão total= {taxa_conversao_total:.2f}% ****')

**** Taxa de conversão total= 10.53% ****

<span style="color:blue;font-weight:300;font-size:20px"><b>Taxa de conversão por Origem</b></span>

In [136]:
taxa_conversao_por_origem = np.round(df_base_completa.groupby(['origin'])['closed_deal'].sum()/df_base_completa.groupby(['origin'])['closed_deal'].count()*100, 2)
taxa_conversao_por_origem

origin
direct_traffic       11.22
display               5.08
email                 3.04
organic_search       11.80
other                 2.67
other_publicities     4.62
paid_search          12.30
referral              8.45
social                5.56
unknown              16.29
Name: closed_deal, dtype: float64

<span style="color:blue;font-weight:300;font-size:20px"><b>Taxa de conversão por Página Inicial</b></span>

In [137]:
taxa_conversao_por_pagina = np.round(df_base_completa.groupby(['landing_page_id'])['closed_deal'].sum()/df_base_completa.groupby(['landing_page_id'])['closed_deal'].count()*100, 2)
taxa_conversao_por_pagina

landing_page_id
007f9098284a86ee80ddeb25d53e0af8      6.06
01850876d34b43494b5f9879c366877b      0.00
0218f6be0b76aca72ab4d00ee9e8cf10     12.50
03c7c0ace395d80182db07ae2c30f034      0.00
04a75b75d5f4f3a16b0178fbe382da00    100.00
                                     ...
fd7c4cdfbfb7964b441618d54f88c38b      0.00
fd7d977e75d1ac5cfe6b93ffabb150b1      0.00
fe82aeadeaea2186478fe6353d6d5301     25.00
ff3416719616ad4921acb8c74e21d6f0      0.00
ffc62d6945fd1423539ec6d96326c37c    100.00
Name: closed_deal, Length: 495, dtype: float64

<span style="color:blue;font-weight:300;font-size:20px"><b>Taxa de conversão por Página Inicial</b></span>